$color_1: inherit;
$color_2: antiquewhite;
$color_3: rgba(140, 228, 240, 0.863);
$color_4: rgb(255, 253, 250);
$color_5: red;
$color_6: white;
$font-family_1: 'Anybody', cursive;
$background-color_1: rgb(155, 149, 149);
$background-color_2: #0430aa80;
$background-color_3: #f44336;
$border-color_1: bisque;
/*efecto grow */
.crecer {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	&:hover {
		-webkit-transform: scale(1.15);
		transform: scale(1.15);
	}
	&:focus {
		-webkit-transform: scale(1.15);
		transform: scale(1.15);
	}
	&:active {
		-webkit-transform: scale(1.15);
		transform: scale(1.15);
	}
}
/*reflection*/
.imgAnim {
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: all 200ms ease-in;
	filter: grayscale(1) opacity(.8);
	&:hover {
		filter: grayscale(0) opacity(1);
		&::after {
			content: '';
			background-image: inherit;
			background-repeat: no-repeat;
			background-position: bottom;
			background-size: cover;
			width: inherit;
			height: 40%;
			position: absolute;
			bottom: -25%;
		}
		&::before {
			content: '';
			width: inherit;
			height: 42%;
			position: absolute;
			bottom: -25%;
			background: linear-gradient(to bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, .5));
			z-index: 1;
		}
	}
	&::before {
		transform: scaleY(-1);
	}
	&::after {
		transform: scaleY(-1);
	}
}
