@import "anim";
@import "media";
$color_1: inherit;
$color_2: antiquewhite;
$color_3: rgba(140, 228, 240, 0.863);
$color_4: rgb(255, 253, 250);
$color_5: red;
$color_6: white;
$font-family_1: 'Anybody', cursive;
$background-color_1: rgb(155, 149, 149);
$background-color_2: #0430aa80;
$background-color_3: #f44336;
$border-color_1: bisque;


$titulocolor: (
	tituloMain: rgb(0, 151, 252),
	tituloNoti:	rgb(1, 189, 48),
	tituloAbout: rgb(240, 247, 144),
);

@each	$titulocolor, $color in $titulocolor{
	.titulocolor-#{$titulocolor} {
		color: $color;
	}
}

@mixin margen($borde, $margenizq, $margender, $alinea){
	border: $borde;
	margin-left: $margenizq;
	margin-right: $margender;
	align-self: $alinea;
	
}
img{
	@include margen(5px,auto,auto,center)
}

.bGround {
	background-image: url(../img/background.jpg);
	background-color: $background-color_1;
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	align-self: center;
}
a {
	color: $color_1;
}
.encabezado {
	display: flex;
}
.container {
	font-family: $font-family_1;
	color: $color_2 !important;
}
.logo {
	max-width: 100%;
	max-height: 100%;
}
.logoForo {
	display: inline-block;
	grid-column: 1;
	text-align: center;
	width: 100%;
}
.menu {
	color: $color_2;
	font-family: $font-family_1;
	font-size: 2.5vw;
	border-width: 5px;
	margin: 10px;
	grid-column: 2;
	display: flex;
	text-align: center;
}
.menuLista {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 1.5vw;
}
.menuSocials {
	color: $color_2;
	font-size: 3vw;
	text-align: center;
	grid-column: 3;
	display: inline-block;
	border: 5px;
	border-color: $border-color_1;
}
.noticias {
	display: grid;
	grid-auto-flow: 1fr;
	height: 80vh;
}
/* Ubicacion de las noticias en el grid */
.item1 {
	grid-column: 1;
}
.item2 {
	grid-column: 1;
}
.item3 {
	grid-column: 1;
}
.item4 {
	grid-column: 1;
	justify-content: center;
	align-items: center;
}
.item5 {
	grid-column: 1;
	justify-content: center;
	align-items: center;
}
.item6 {
	grid-column: 1;
}
.item7 {
	grid-column: 1;
}
.img {
	display: grid;
	border: 5px;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
}
.title {
	color: $color_3;
	font-family: $font-family_1;
	font-size: 2rem;
	text-justify: auto;
	text-align: center;
}
.text {
	color: $color_4;
	font-family: $font-family_1;
	word-break: break-all;
	text-align: center;
}
/* grid tambien usado en otras paginas */
.textNoti {
	@extend .text;
	margin-right: 40px;
    margin-left: 40px; 
}
.textLink {
	color: $color_5;
	font-family: $font-family_1;
	font-size: 2vw;
}
/*aca comienza lo relativo al footer*/
.piePag {
	display: grid;
	grid-template-rows: 2fr;
	height: 4vw;
}
.sugest {
	color: $color_2;
	font-family: $font-family_1;
	font-size: 14px;
	border: 1px;
	margin-top: 6vw;
}
.about {
	color: $color_2;
	font-family: $font-family_1;
	font-size: 1.5vw;
	border: 1px;
	bottom: 1px;
	justify-self: center;
	align-self: end;
}
.staff {
	text-align: center;
	align-self: center;
	padding: 1px;
}
.video {
	display: inline-block;
	align-items: center;
	align-self: center;
}
/*pantalla de login*/
form {
	border: 3px solid #f1f1f1;
	color: $color_2;
}
input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	color: $color_2;
}
input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	color: $color_2;
}
/* estilo de los botones */
buttonForm {
	background-color: $background-color_2;
	color: $color_6;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	&:hover {
		opacity: 0.8;
	}
}
/* boton cancelar */
.cancelbtnForm {
	width: auto;
	padding: 10px 18px;
	background-color: $background-color_3;
}
.containerForm {
	padding: 16px;
}
/* olvidaste password*/
span.psw {
	float: right;
	padding-top: 16px;
}
